<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Disciplina</title>
</head>
<body>
    <header>
        <h1>Nova Disciplina</h1>
    </header>

    <main>
      <form action="{% url 'cursos:nova_disciplina' disciplina.id %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Guardar">
    </form>

    <a href="{% url 'cursos:index' %}">
      <button>Cancelar</button>
    </a>

    </main>

    <footer>
        <p>&copy; 2024 Cursos</p>
    </footer>
</body>
</html>