<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'articles/estilos.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7a414a4d6e.js" crossorigin="anonymous"></script>
    <title>Artigos</title>
</head>
<body>
    <header>
            <section class="middle">
                <a href = "{% url 'articles:index' %}" id = "menu-link"> <h1>Artigos</h1></a>
            </section>
    </header>
    <a href = "{% url 'portfolio:landing_page' %}"> <i class="fa-solid fa-house"></i> </a>
    <main>
        <section id="articles">
            {% block content %}
            {% endblock %}
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Artigos</p>
    </footer>
</body>
</html>
