<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Bowie</title>
    <style>
        body {
            background: black;
            color: white;
        }
    </style>
</head>
<body>

    <header>
        <nav>
        <a href="{% url 'novaapp:index' %}">Menu</a>
        </nav>

        <h1>DAVID BOWIE</h1>
    </header>

    <main>
      <h2>Discografia</h2>
      <p>David Bowie lançou muitos exitos, como: "Space Oddity", "Under pressure" e muitos outros. Foi nomeado 186 em várias Awards(MTV,BAFTA,BRIT...) ganhando 71 dessas nomeações</p>
      <p>Lista das top 5 músicas:</p>
        <ol>
            <li>Under Pressure</li>
            <li>Starman</li>
            <li>Heroes</li>
            <li>Space Oddity</li>
            <li>Rebel Rebel</li>
        </ol>

      <h2>Quem foi?</h2>
      <p>David Robert Jones (8 January 1947 – 10 January 2016), known professionally as David Bowie, was an English singer, songwriter, musician, and actor.</p>
      <p> He is regarded as one of the most influential musicians of the 20th century. Bowie was acclaimed by critics and musicians, particularly for his innovative work during the 1970s.</p>
      </p> His career was marked by reinvention and visual presentation, and his music and stagecraft had a significant impact on popular music.</p>
    </main>

    <footer>
        <p>&copy; 2024 Programação Web, Universidade Lusófona - Todos os direitos reservados.</p>
    </footer>

</body>
</html>