<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ley Soul</title>
    <style>
        body {
            background: black;
            color: white;
        }
    </style>
</head>
<body>

    <header>
        <h1>EXISTE POUCA INFORMAÇÃO DESTE ARTISTA, ATULIZAREMOS A PÁGINA ASSIM QUE POSSÍVEL</h1>
        <nav>
        <a href="{% url 'novaapp:index' %}">Menu</a>
        </nav>
    </header>

    <main>
      <h2>Discografia</h2>
      <p>Existe pouca música desta artista, pois é ainda uma artista amadora mas daquilo que sabemos, Ley Soul lançou a sua primeira música no dia 9 de novembro de 2023 "Intergalactic Janet" e "Fortune Eyes" em 2024</p>
      <p>Lista das top 5 músicas:</p>
        <ol>
            <li>Intergalactic Janet</li>
            <li>Fortune Eyes</li>
        </ol>

      <h2>Quem é?</h2>
      <p>Ley Soul vem de Los Angeles, e faz música desde 2023</p>
    </main>


    <footer>
        <p>&copy; 2024 Programação Web, Universidade Lusófona - Todos os direitos reservados.</p>
    </footer>

</body>
</html>