<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soundgarden</title>
    <style>
        body {
            background: Black;
            color: White;
        }
    </style>
</head>
<body>

    <header>
         <nav>
            <a href="{% url 'novaapp:index' %}">Menu</a>
        </nav>
        <h1>SOUNDGARDEN</h1>
    </header>

    <main>
      <h2>Discografia</h2>
      <p>A banda foi um exito nos Estados Unidos, ganhando vários prémios e fazendo vários hits</p>
      <p>Lista das top 5 músicas:</p>
        <ol>
            <li>Black Hole Sun</li>
            <li>Spoonman</li>
            <li>Fell On Black Days</li>
            <li>Rusty Cage-Remasterd</li>
            <li>Outshined-Remasterd</li>
        </ol>

      <h2>Quem são</h2>
      <li>Soundgarden was an American rock band formed in Seattle, Washington, in 1984 by singer and drummer Chris Cornell, lead guitarist Kim Thayil, and bassist Hiro Yamamoto. Cornell switched to rhythm guitar in 1985, replaced on drums initially by Scott Sundquist, and later by Matt Cameron in 1986.</li>
      <li>Yamamoto left in 1989 and was replaced initially by Jason Everman and shortly thereafter by Ben Shepherd. The band dissolved in 1997 and reformed in 2010.</li>
      <li>Following Cornell's death in 2017 and a year of uncertainty regarding the band's future, Thayil declared in October 2018 that Soundgarden had disbanded once again, though they did reunite in January 2019 for a one-off concert in tribute to Cornell.</li>
      <p>Both Cornell and Thayil were the only members to appear in every incarnation of the band.</p>
    </main>

    <footer>
        <p>&copy; 2024 Programação Web, Universidade Lusófona - Todos os direitos reservados.</p>
    </footer>

</body>
</html>